.sidebar {
    border-right: 5px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
}

.sidebar h5 {
    margin: 15px;
}

.mainbar h3 {
    color: blue;
    margin: 20px;
}

.custom-table {
    margin: 10px;
}

.player {
    margin-top: 10px;
}

.start-button {
    text-align: center;
    width: 10rem;
    margin-top: 10px;
}

.result-page {
    margin: 30px;
    text-align: center;
}

.result-card {
    margin: 30px;
}